@import '../../node_modules/codemirror/lib/codemirror.css';
@import url('https://fonts.googleapis.com/css?family=Catamaran');

* {
	background: inherit;
	color: inherit;
}

body {
	font-family: 'Catamaran', sans-serif;
}

.pane {
        position: relative;
        float: left;
        width: 15%;
        height: 100%;
	overflow: auto;
}

.react-pane {
	min-height: 100%;
}

#centre {
        width: 70%;
	height: 100%;
}

#base-textarea {
        width: 100%;
        height: 100%;
}

html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
        padding: 0;
}

h1.title {
	width: 100%;
	text-align: center;
	padding: 0.3em 0;
	margin: 0;
}

.off-edge {
	padding: 5px;
}

#chat-input {
	width: 100%;
	height: 4em;
	resize: none;
}

select {
	text-align: right;
}
