@font-face {
	font-family: kayak;
	src: url(kayak-sans-light.otf);
}

* {
	/*  border: 2px solid; */
	margin: 0px;
	padding: 0px;
}

.header {
	background-color: #21633E;
	width: 100%;
	height: 10%;
}

#bottom {
	display: flex;
	height: 90%;
	overflow:hidden;
}

#header-title {
	width: 100%;
	color: white;
	font-family: kayak;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.left-side {
	width: 80%;
	height: 100%;
}

.right-side {
	font-family: kayak;
	width: 20%;
	float: right;
	background: floralwhite;
	position: relative;
}

#dropdown-button, #pullup-button {
	z-index:1000;
	color: grey;
	padding: 10px;
	background: rgba(0, 0, 0, 0);
	font-family: kayak;
	position: absolute;
	top: 0;
	right: 0;
}

#subscript {
	font-size: 0.4em;
}

#option-text {
	margin-top: 2px;
}

#dropdown-button:hover, #pullup-button:hover {
	cursor: pointer;
	background: rgba(50, 50, 50, 125);
}

#dropdown-button:active, #pullup-button:active {
	background: rgba(100, 100, 100, 125);
}

#option-text:hover {
	font-family: kayak;
	cursor: pointer;
}

#toolbar {
	display: none;
	font-family: kayak;
	width: 100%;
	height: 7%;
	background-color: floralwhite;
}

#close-fullscreen {
	opacity: 0.9;
	display: none;
	z-index: 900;
	font-size: 40px;
}

.close-arrow {
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
}

.rotate {
	/* Safari */
	-webkit-transform: rotate(-180deg);

	/* Firefox */
	-moz-transform: rotate(-180deg);

	/* IE */
	-ms-transform: rotate(-180deg);

	/* Opera */
	-o-transform: rotate(-180deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#content {
	width: 100%;
	height: 100%;
}

#chat-heading {
	width: 100%;
	height: 5%;
	text-align: center;
}

#chat-title-text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#text-area {
	width: 100%;
	height: 100%;
	position: relative;
}

#code {
	width: 100%;
	height: 100%;
}

#code-choice {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#message-field {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	height: 4%;
}

#chat-text {
	width: 100%;
	outline: none;
	height: 100%;
}

#chat-messages {
	position:relative;
	top: 100%;
	transform: translateY(-100%);
	max-height: 100%;
	overflow-y: auto;
}

#chat-display {
	width: 100%;
	height: 85%;
}

#messages-display {
	background-color: transparent;
	border-color: transparent;
	vertical-align: bottom;
	overflow: hidden;
}

.wordwrap {
	overflow: scroll;
	margin-left: 5px;
	white-space: pre-wrap;      /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap;     /* Opera <7 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	word-wrap: break-word;      /* IE */
}

.button {
	display: inline-block;
	background: rgba(33, 99, 62, 0.5);
	padding: 5px;
	border-radius: 5px;
	color: white;
	margin-left: 10px;
}

.button div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.button:hover {
	background: rgba(33, 99, 62, 0.8);
	cursor: pointer;
}

.button:active {
	background: rgba(33, 99, 62, 1);

}

.grayed-out {
	background-color: gray;
}

.grayed-out:hover {
	background-color: gray;
	cursor: default;
}

.grayed-out:active {
	background-color: gray;
}
  
#background-dimmer {
  display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
}

.popup {
	position: absolute;
	width: 30%;
	height: 30%;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

#on-start-popup {
	z-index: 12;
	background: white;
	font-size: 2em;
	padding: 1em;
}

#start-pair-popup {
	font-family: kayak;
	display: block;
	z-index: 11;
	background: white;
	font-size: 2em;
	padding: 1em;
}

#start-pair-popup p {
	height: 50%;
}

#start-pair-popup input {
	font-size: 1em;
}

.inline-marker {
	opacity: 0.5;
	position: relative;
	left: 0;
	top: 0;
}

.inline-marker:hover input {
	display: inline-block;
}

.inline-marker:hover {
	opacity: 1;
}

.inline-marker:hover div {
	opacity: 0;
}

.inline-marker input {
	display: none;
	position: absolute;
	top: 0;
}

.inline-marker div {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	transform: translateX(-50%);
	border-radius: 25px;
	z-index: 2;
	opacity: 0.5;
	background: grey;
}

.pair-button {
	display: inline-block;
	background: rgba(33, 99, 62, 0.5);
	padding: 5px;
	border-radius: 5px;
	color: white;
	width: calc(100% - 20px);
	margin: 5px;
	text-align: center;
}

.pair-button:hover {
	background: rgba(33, 99, 62, 0.8);
	cursor: pointer;
}

.pair-button:active {
	background: rgba(33, 99, 62, 1);
}

.side-button {
	display: inline-block;
	width: 48%;
	margin: 0 1%;
	height: 100%;
	background: rgba(33, 99, 62, 0.5);
	color: white;
	text-align: center;
}

.side-button div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.side-button:hover {
	background: rgba(33, 99, 62, 0.8);
	cursor: pointer;
}

.side-button:active {
	background: rgba(33, 99, 62, 1);
}

#button-area {
	display: table;
	margin-top: 1%;
	margin-left: 1%;
	width: 98%;
	height: 5%;
	font-size: 90%;
}

.notif {
	background-color: orange;
}

#chat-notification {
	opacity: 0.9;
	position: absolute;
	display: none;
	z-index: 900;
	font-size: 40px;
}

#chat-preview {
	position: absolute;
	display: none;
	z-index: 900;
	font-size: 20px;
	height: 100%;
	width: 15%;
	right: 80px;
	top: 0;
	color: white;
}

#chat-small {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.float {
	position: relative;
	bottom: 0;
	background: #3366ff;
	padding: 5px;
	border: 1px solid white;
	margin: 5px 0px;
	border-radius: 3px;
	-webkit-animation: floatBubble 8s infinite  normal ease-out;
	animation: floatBubble 8s infinite  normal ease-out;
}

@-webkit-keyframes floatBubble {
	95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes floatBubble {
	95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
