@font-face {
    font-family: kayak;
    src: url(kayak-sans-light.otf);
}

* {
   /*  border: 2px solid; */
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #21633E;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 80px;
}

#bottom {
    margin-top: 80px;
    display: flex;
}

#header-title {
    margin-top: 20px;
    width: 100%;
    color: white;
    font-family: kayak;
    text-align: center;
}

.left-side {
    height: 100%;
    flex: 1;
}

.right-side {
    width: 20%;
    float: right;
    background: floralwhite;
}

#toolbar {
    position: static;
    width: 100%;
    height: 50px;
    background-color: floralwhite;
}

#content {
    width: 100%;
    height: 100%;
}

#chat-heading {
    position: fixed;
    z-index: 999;
    top: 80px;
    width: 20%;
    height: 50px;
    text-align: center;
}

#chat-title-text {
    padding-top: 12.5px;
    height: 50px;
}

#code {
    width: 100%;
    height: 100%;
}

#code-choice {
    padding-top: 12.5px;
    padding-left: 5px;
}

#message-field {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

#chat-text {
    width: 100%;
    height: 100%;
    outline: none;
}

#chat-display {
    width: 100%;
    height: 100%;
    display: table;
    margin-top: 50px;
}

#messages-display {
    position: fixed;
    bottom: 40px;
	background-color: transparent;
	border-color: transparent;
	display: table-cell;
    vertical-align: bottom;
}

.wordwrap { 
	overflow: scroll;
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}