@font-face {
    font-family: kayak;
    src: url(../kayak-sans-light.otf);
}

@media (max-width: 388px){

* {
  margin: 0px;
}

body {
  /* background-color: #6793BA; */
  background-color: floralwhite;
  animation-duration: 0.001s;
  font-family: kayak;
}

  .header {
    background-color: #21633E;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100px;
    display: table;
  }

  .nav-item:hover {
    background-color: white;
  }

  .nav-item {
      font-size: 40px;
  }

  #nav-item2 {
    display: none;
  }

  #nav-item3 {
    display: none;
  }

  #nav-item4 {
    display: none;
  }

  #nav-item1 {
    color: #F5F5F8;
    font-size: 40px;
    font-family: kayak;
    height: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
  }

  .collapse {
    float: right;
    width: 60px;
    height: 60px;
    padding: 32px;
  }

  a {
    text-decoration: none;
  }

  .wrapper {
    position: fixed;
    height: 90%;
    width: 100%;
    margin-top: 123px;
  }

  .shadow {
     -moz-box-shadow: 0 0 30px 5px #999;
     -webkit-box-shadow: 0 0 30px 5px #999;
  }

.anchor:before {
    display: block;
    content: " ";
    margin-top: -135px;
    height: 135px;
    visibility: hidden;
  }
}

@media (min-width: 388px){

  * {
  margin: 0px;
}

body {
  /* background-color: #6793BA; */
  background-color: floralwhite;
  animation-duration: 0.001s;
  font-family: kayak;
}

  .header {
    background-color: #21633E;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100px;
    display: table;
  }

  .nav-item:hover {
    background-color: white;
  }

  .nav-item {
      font-size: 40px;
  }

  #nav-item2 {
    display: none;
  }

  #nav-item3 {
    display: none;
  }

  #nav-item4 {
    display: none;
  }

  #nav-item1 {
    color: #F5F5F8;
    font-size: 64px;
    font-family: kayak;
    height: 90%;
    padding: 20px;
    display: inline-block;
    margin-left: 112px;
  }

  .collapse {
    float: right;
    width: 60px;
    height: 60px;
    padding: 32px;
  }

  a {
    text-decoration: none;
  }

  .wrapper {
    position: fixed;
    height: 90%;
    width: 100%;
    margin-top: 123px;
  }

  .shadow {
     -moz-box-shadow: 0 0 30px 5px #999;
     -webkit-box-shadow: 0 0 30px 5px #999;
  }

.anchor:before {
    display: block;
    content: " ";
    margin-top: -135px;
    height: 135px;
    visibility: hidden;
  }

}

#message-field {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 10%;
    display: flex;
}

#chat-text {
    width: 100%;
    outline: none;
    height: 100%;
}

#chat-messages {
    position:relative;
    top: 100%;
    transform: translateY(-100%);
    max-height: 100%;
    overflow-y: auto;
}

#chat-display {
    width: 100%;
    height: 85%;
}

#messages-display {
    margin-bottom: 5%;
    bottom: 40px;
	  background-color: transparent;
	  border-color: transparent;
    vertical-align: bottom;
    overflow: hidden;
}

.wordwrap {
   overflow: scroll;
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.button {
	display: inline-block;
	background: rgba(33, 99, 62, 0.5);
	padding: 5px;
	border-radius: 5px;
	color: white;
	margin-left: 10px;
}

.button div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.button:hover {
	background: rgba(33, 99, 62, 0.8);
	cursor: pointer;
}

.button:active {
	background: rgba(33, 99, 62, 1);

}

#background-dimmer {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
}

#start-pair-popup {
	display: none;
	position: absolute;
	width: 30%;
	height: 30%;
	z-index: 11;
	background: white;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2em;
	padding: 1em;
}

#start-pair-popup p {
	height: 50%;
}

#start-pair-popup input {
	font-size: 1em;
}

.inline-marker {
	opacity: 0.5;
	position: relative;
	left: 0;
	top: 0;
}

.inline-marker:hover input {
	display: inline-block;
}

.inline-marker:hover {
	opacity: 1;
}

.inline-marker:hover div {
	opacity: 0;
}

.inline-marker input {
	display: none;
	position: absolute;
	top: 0;
}

.inline-marker div {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	transform: translateX(-50%);
	border-radius: 25px;
	z-index: 2;
	opacity: 0.5;
	background: grey;
}

.pair-button {
  display: inline-block;
	background: rgba(33, 99, 62, 0.5);
	padding: 5px;
	border-radius: 5px;
	color: white;
  width: 95%;
  margin: 5px;
  text-align: center;
}

.pair-button:hover {
	background: rgba(33, 99, 62, 0.8);
	cursor: pointer;
}

.pair-button:active {
	background: rgba(33, 99, 62, 1);
}

.side-button {
  display: table-cell;
	background: rgba(33, 99, 62, 0.5);
	padding: 5px;
	border-radius: 5px;
	color: white;
  text-align: center;
}

.side-button:hover {
	background: rgba(33, 99, 62, 0.8);
	cursor: pointer;
}

.side-button:active {
	background: rgba(33, 99, 62, 1);
}

#button-area {
    vertical-align: center;
    display: table;
    margin-top: 5px;
    width: 100%;
    height: 10px;
}

.settingsTypeHeader {
  width:23%;
  height:50px;
  font-size:24px;
  text-align:center;
  margin: 0px 5%;
  float:left;
  line-height:50px;
  cursor:pointer;
}
.settingsTypeHeader:hover {
  background-color:#21633E;
  opacity:0.2;
}
.settingsTypeHeader.selected {
  background-color:#21633E;
  color:white;
  border-bottom-radius:10px;
  border-bottom-radius:10px;
  opacity:1 !important;
}

#settingsList {
  width:80%;
  float:left;
  padding: 0 10%;
  height:calc(90% - 70px);
  overflow:scroll;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4) inset;
  background-color:white;
  padding-top:20px;
}
.settingsItem {
  width:80%;
  height:40px;
  padding:5px 10%;
  text-align:center;
  margin-bottom:10px;
  line-height:45px;
  cursor:pointer;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2) inset;
  border-radius:20px;
}
.settingsItem:hover {
  background:lightgrey;
}
